In [2]:
import pandas as pd
import json

In [5]:
df=pd.read_csv("C://Users//ruobi//OneDrive//Desktop//Python book//code test//Employee Sample Data.csv",encoding= 'unicode_escape')

In [6]:
df.head(1)

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Manufacturing,Male,Asian,47,2/5/2022,"$92,368",0%,United States,Columbus,NaN